.wide_header {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 45px 65px;
}
.header_logo img {
  width: 45%;
}
.header_address {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_address .connect {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #444444;
}
.header_address .connect strong {
  color: #424f59;
}
.customer a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 13px 30px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ebbd13;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.customer a:hover {
  color: #fff;
  background-color: #ebbd13;
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px 0px #0099cc40;
}
.customer a .plus {
  font-weight: bolder;
}
.headset svg {
  font-size: 40px;
}

/* Menu */
.menu_header {
  position: absolute;
  bottom: -25%;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 15px 60px 0px #0099cc26;
  transition: all 0.7s ease-in;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 0 30px;
  border-radius: 5px;
  background-color: #0099cc;
  transition: all 0.2s ease-in;
}
.menu_header.fixed .menu {
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
}
.menu_header nav {
  transition: all 0.7s ease-in-out;
}
.menu_header.fixed nav {
  padding-bottom: 5px;
}
.menu_header .main_menu {
  display: flex;
  align-items: center;
}
.menu_header .main_menu > li {
  padding: 27px 20px;
  position: relative;
  cursor: pointer;
}
.menu_header ul a {
  font-size: 16px;
  color: #ffffffb3;
  font-weight: 900;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 3px;
}
.menu_header .main_menu > li:first-child a {
  color: #fff;
}
.menu_header .main_menu > li > a::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  bottom: 1px;
  height: 10px;
  width: 3px;
  left: calc(50%);
  transform: scale(0);
  transition: all 0.2s ease;
}
.menu_header ul li:first-child a::before {
  transform: scale(1);
}
.menu_header ul li:hover a::before {
  transform: scale(1);
}
.menu_header .main_menu > li > a:hover {
  color: #fff;
}

/* Sub Menu */
.sub_menu {
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  width: 210px;
  bottom: 0;
  transform: translateY(calc(100% + 10px));
  border-radius: 10px;
  padding: 15px 0;
  display: none;
  transition: all 0.2s ease-in;
}
.main_menu li:last-child:hover > .sub_menu,
.main_menu li:nth-child(1):hover > .sub_menu,
.main_menu li:nth-child(2):hover > .sub_menu,
.main_menu li:nth-child(3):hover > .sub_menu,
.main_menu li:nth-child(4):hover > .sub_menu,
.main_menu li:nth-child(5):hover > .sub_menu {
  animation-name: moveSubMenu;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
}
@keyframes moveSubMenu {
  0% {
    transform: translateY(calc(100% + 10px));
  }
  100% {
    transform: translateY(calc(100%));
  }
}
.menu_header .sub_menu > li {
  width: 100%;
  padding: 8px 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.sub_menu > li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 38px;
  z-index: 99;
  left: -4px;
  top: 0;
  background-color: transparent;
}
.menu_header .sub_menu a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}
.menu_header .sub_menu > li > svg {
  transition: all 0.3s ease;
}
.menu_header .sub_menu > li:hover > svg {
  color: #0099cc;
  margin-left: -3px;
}
.menu_header .sub_menu > li:hover > a {
  color: #0099cc;
  font-weight: 700;
  padding-right: 10px;
  padding-left: 7px;
}
.sub1_menu2 {
  left: -214px;
  bottom: 48px;
}
.sub2_menu2 {
  left: -215px;
  bottom: 46px;
}

/* Menu Left */
.menu_left {
  display: flex;
  align-items: center;
}
.social_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #fff;
  position: relative;
}
.social_menu span {
  position: absolute;
  background-color: #ebbd13;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  padding: 4px 12px;
  font-size: 12px;
  top: -35px;
  right: -8px;
  transform: scale(0);
  transition: all 0.3s ease;
}
.social_menu a {
  width: 2.2em;
  height: 2.2em;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.social_menu .aparat img {
  color: #fff;
  fill: #fff;
  width: 25px;
}
.social_menu .aparat a:hover {
  background-color: #ed0b58;
}
.social_menu .linkedin span {
  right: 29px;
}
.social_menu .insta span {
  right: 72px;
}
.social_menu .linkedin a:hover + span,
.social_menu .insta a:hover + span,
.social_menu .aparat a:hover + span {
  transform: scale(1);
}
.social_menu .linkedin a:hover {
  background-color: #007bb6;
}
.social_menu .insta a:hover {
  background: radial-gradient(
      circle farthest-corner at 35% 100%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(
      circle farthest-corner at 10% 140%,
      #feda7e,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e42e66 50%,
      #fa5332 70%,
      #ffdc80 100%
    );
}
.social_menu a svg {
  font-size: 18px;
  transition: all 0.3s ease;
}
.social_menu a:first-child:hover svg {
  transform: rotateY(360deg);
}
.search_menu {
  width: 120px;
}
.search_menu form {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  color: #444444;
  border: none;
  position: relative;
}
.search_menu form input {
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
}
.search_menu form svg {
  position: absolute;
  left: 7px;
  font-size: 19px;
  font-weight: bolder;
  color: #000;
}
.menu_left .line {
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 100%;
  margin: 0 20px;
}
.main_menu > li:last-child {
  display: none;
}
.second {
  display: none;
}
.humburger_icon {
  display: none;
}
.shadow {
  width: 100vw;
  height: 1000vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.close_icon {
  position: absolute;
  top: 0;
  z-index: 191;
  left: 42%;
  cursor: pointer;
  display: none;
}
.close_icon svg {
  font-size: 58px;
  transition: all 0.3s ease-in;
}
.close_icon svg:hover {
  animation-name: closeAnim;
  animation-delay: 0.4s;
  transform: rotate(180deg);
}

/****************************************************/
/* responsive */
@media only screen and (max-width: 1280px) {
  .extra_menu > ul {
    right: 7px;
  }
  .extra_menu > a > svg {
    font-size: 20px;
  }
  .main_menu > li:last-child {
    display: inline-block;
    padding: 31.5px 34px;
  }
  .extra_menu .one,
  .extra_menu .two,
  .extra_menu .three,
  .extra_menu .four {
    display: none !important;
  }

  .main_menu > li:nth-child(7),
  .main_menu > li:nth-child(8) {
    display: none;
  }
}

@media only screen and (max-width: 1187px) {
  .main_menu > li:nth-child(6) {
    display: none;
  }
  .extra_menu .four {
    display: flex !important;
  }
}

@media only screen and (max-width: 1101px) {
  .main_menu > li:nth-child(5) {
    display: none;
  }
  .extra_menu .three {
    display: flex !important;
  }
}

@media only screen and (max-width: 972px) {
  .main_menu > li:nth-child(4) {
    display: none;
  }
  .extra_menu .two {
    display: flex !important;
  }
  .customer_info {
    display: none;
  }
}

@media only screen and (max-width: 847px) {
  .main_menu > li:nth-child(3) {
    display: none;
  }
  .extra_menu .one {
    display: flex !important;
  }
}

@media only screen and (max-width: 768px) {
  .close_icon {
    display: block;
  }
  .shadow.active {
    display: block;
  }
  .close_icon {
    left: 38%;
  }
  .humburger_icon {
    display: flex;
    background-color: #ebbd13;
    padding: 13px;
    border-radius: 5px;
    z-index: 99;
    cursor: pointer;
  }
  .humburger_icon svg {
    color: #fff;
    font-size: 25px;
  }
  .customer,
  .headset {
    display: none;
  }
  .menu .search_menu,
  .menu .line {
    display: none;
  }
  .main_menu > li {
    display: flex !important;
  }
  .menu_header {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    left: unset;
    color: #fff;
    box-shadow: none;
  }
  .menu_header.fixed .menu,
  .menu_header .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 50%;
    border-radius: 0;
    right: 0;
    padding: 0 21px;
    bottom: 0;
    overflow-y: auto;
    transform: translateX(400px) !important;
    transition: all 0.3s ease-in-out;
    z-index: 190;
  }
  .menu_header.fixed .menu.active,
  .menu_header .menu.active {
    transform: translateX(0) !important;
  }

  .menu_header.fixed .menu::-webkit-scrollbar,
  .menu_header .menu::-webkit-scrollbar {
    visibility: hidden;
  }
  .menu_header .main_menu {
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }
  .menu_header .main_menu > li {
    width: 100%;
    padding: 0 12px;
    justify-content: end;
    border-radius: 5px;
    transition: all 0.2s ease;
    margin-top: 5px;
    flex-direction: column;
  }
  .menu_header .main_menu > li:hover > a {
    background-color: #14a1d0;
  }
  .menu_header .main_menu > li > a {
    width: 100%;
    justify-content: space-between;
    font-size: 15px;
    font-weight: normal;
    padding-right: 40% !important;
    margin-bottom: 7px;
    padding: 12px;
    border-radius: 5px;
  }
  .menu_header .main_menu > li:first-child > a {
    background-color: #14a1d0;
  }
  .menu_header .main_menu > li:first-child > a {
    padding-right: 45%;
  }
  .menu_header ul li:first-child a::before,
  .menu_header ul li:hover a::before {
    transform: scale(0);
  }
  .main_menu > li > a > .first {
    display: none !important;
  }
  .sub_menu > li > a > .second,
  .main_menu > li > a > .second {
    display: block !important;
  }

  .main_menu li:last-child:hover > .sub_menu,
  .main_menu li:nth-child(1):hover > .sub_menu,
  .main_menu li:nth-child(2):hover > .sub_menu,
  .main_menu li:nth-child(3):hover > .sub_menu,
  .main_menu li:nth-child(4):hover > .sub_menu,
  .main_menu li:nth-child(5):hover > .sub_menu {
    animation: none;
  }
  .main_menu > li > .sub_menu {
    position: relative !important;
    display: flex !important;
    width: auto;
    animation: none;
    transform: translateY(0);
    background-color: #0099cc;
    align-items: center;
    transition: all 0.2s ease;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  /* .main_menu > li > .sub_menu.deactive {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.2s ease;
  } */
  .main_menu > li > .sub_menu li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px 10px;
    transition: all 0.2s ease;
    align-items: center;
  }
  .main_menu > li > .sub_menu li a {
    color: #ffffffb3;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menu_header .sub_menu > li:hover > a {
    color: #fff;
    padding-right: 0;
    padding-left: 0;
    font-weight: normal;
  }
  .menu_header .extra_menu {
    display: none !important;
  }
  .main_menu > li > .sub_menu .sub2_menu2,
  .main_menu > li > .sub_menu .sub1_menu2 {
    position: static;
    transform: translateY(0);
    display: flex;
    background-color: #0099cc;
  }
  .sub_menu > li > a {
    text-align: center;
  }
  .sub_menu > li > svg {
    display: none;
  }
  .menu_left {
    justify-content: center;
  }
}
