/* First Section */
.main_top {
  position: relative;
  overflow: hidden;
}
.slider_image {
  width: 100%;
  height: 900px;
  object-fit: cover;
  transform: scale(1);
}
.slider_image.load {
  animation-duration: 4s;
  animation-name: sizeChange;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes sizeChange {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}

.main_title_1 {
  overflow: hidden;
  position: absolute;
  bottom: 34%;
  left: 23%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.main_title_1 h1 {
  font-size: 50px;
  font-weight: 900;
  background-color: var(--blue-1);
  padding: 14px 58px;
  border-radius: 5px;
}
.main_title_down {
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  padding: 10px 53px;
}

.main_title_1 h3 {
  color: var(--blue-1);
  font-size: 22px;
}
.main_title_1 h3:first-child {
  margin-bottom: 18px;
}
.arrow_icons {
  display: flex;
  gap: 13px;
  position: absolute;
  bottom: 10%;
  left: 3%;
}
.left_arr,
.right_arr {
  background: var(--color-1);
  padding: 5px;
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.arrow_icons svg {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}
.left_arr:hover,
.right_arr:hover {
  background-color: var(--blue-1);
}
.left_arr:hover svg,
.right_arr:hover svg {
  transform: scale(1.5);
}
.main_title_2 {
  position: absolute;
  top: 48%;
  left: 8%;
}
.main_title_2 h3 {
  text-align: right;
  color: var(--blue-1);
  font-size: 18px;
}
.main_title_2_item {
  overflow: hidden;
  white-space: nowrap;
}
.main_title_2_item:first-child {
  transform: translateX(-103px);
}
.main_title_2_item:last-child {
  transform: translateX(-135px);
  width: 88%;
}
.main_title_2 h1,
.main_title_2 h2,
.main_title_2 h3 {
  transform: translateX(700px);
  transition: all 1s ease-in-out;
}
.main_title_2.load h1,
.main_title_2.load h2,
.main_title_2.load h3 {
  animation-duration: 0.7s;
  animation-name: moveTitle;
  animation-fill-mode: forwards;
}

.main_title_2.load h1 {
  animation-delay: 0.7s;
}
.main_title_2.load h2 {
  animation-delay: 1s;
}
.main_title_2.load h3 {
  animation-delay: 0.3s;
}
@keyframes moveTitle {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(0);
  }
}
.main_title_2 h1 {
  text-align: right;
  font-size: 60px;
  font-weight: 900;
  color: var(--color-1);
  letter-spacing: 0.6px;
  margin-bottom: 7px;
}
.main_title_2 h2 {
  color: var(--color-2);
  font-size: 22px;
  font-weight: 300;
}
