header {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  z-index: 99;
}
/* First Section */
.main_top {
  position: relative;
  overflow: hidden;
}
.slider_image {
  width: 100%;
  height: 900px;
  object-fit: cover;
  transform: scale(1);
}
.slider_image.load {
  animation-duration: 4s;
  animation-name: sizeChange;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes sizeChange {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.06);
  }
}

.main_title_1 {
  overflow: hidden;
  position: absolute;
  bottom: 34%;
  left: 23%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}
.main_title_1 h1 {
  font-size: 50px;
  font-weight: 900;
  background-color: var(--blue-1);
  padding: 14px 58px;
  border-radius: 5px;
}
.main_title_1.load div:first-child {
  animation-name: rot;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}
@keyframes rot {
  0% {
    rotate: x -90deg;
  }
  100% {
    rotate: x 0deg;
  }
}

.main_title_down {
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  padding: 10px 53px;
}

.main_title_1 h3 {
  color: var(--blue-1);
  font-size: 22px;
}
.main_title_1 h3:first-child {
  margin-bottom: 18px;
}
.arrow_icons {
  display: flex;
  gap: 13px;
  position: absolute;
  bottom: 10%;
  left: 3%;
}
.left_arr,
.right_arr {
  background: var(--color-1);
  padding: 5px;
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.arrow_icons svg {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s;
}
.left_arr:hover,
.right_arr:hover {
  background-color: var(--blue-1);
}
.left_arr:hover svg,
.right_arr:hover svg {
  transform: scale(1.5);
}
.main_title_2 {
  position: absolute;
  top: 48%;
  left: 8%;
}
.main_title_2 h3 {
  text-align: right;
  color: var(--blue-1);
  font-size: 18px;
}
.main_title_2_item {
  overflow: hidden;
  white-space: nowrap;
}
.main_title_2_item:first-child {
  transform: translateX(-103px);
}
.main_title_2_item:last-child {
  transform: translateX(-135px);
  width: 88%;
}
.main_title_2 h1,
.main_title_2 h2,
.main_title_2 h3 {
  transform: translateX(700px);
  transition: all 1s ease-in-out;
}
.main_title_2.load h1,
.main_title_2.load h2,
.main_title_2.load h3 {
  animation-duration: 0.7s;
  animation-name: moveTitle;
  animation-fill-mode: forwards;
}

.main_title_2.load h1 {
  animation-delay: 0.7s;
}
.main_title_2.load h2 {
  animation-delay: 1s;
}
.main_title_2.load h3 {
  animation-delay: 0.3s;
}
@keyframes moveTitle {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(0);
  }
}
.main_title_2 h1 {
  text-align: right;
  font-size: 60px;
  font-weight: 900;
  color: var(--color-1);
  letter-spacing: 0.6px;
  margin-bottom: 7px;
}
.main_title_2 h2 {
  color: var(--color-2);
  font-size: 22px;
  font-weight: 300;
}

/********* Content *********/
.content > .title {
  background-image: url("/public/images/heart.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 30px;
  font-size: 40px;
  color: #444444;
  text-align: center;
}
.content .title h1 {
  padding-top: 70px;
}
.services {
  padding: 0 40px;
  padding-bottom: 40px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.services ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.services ul li {
  width: 150px;
  text-align: center;
  font-weight: 600;
  color: #444444;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.services ul li.active::before {
  content: "";
  background-color: #0099cc;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -23px;
  left: 0;
  opacity: 1;
  animation-name: lineAppear;
  animation-duration: 0.3s;
}
@keyframes lineAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.services ul li img {
  max-width: 90%;
}
.service_content {
  display: flex;
  gap: 30px;
  padding: 100px 0;
  align-items: center;
  justify-content: space-between;
}
.service_content.fade {
  animation-name: fade;
  animation-duration: 0.9s;
}
.service_content_image,
.service_content_info {
  max-width: 50%;
}
.service_content_info .title {
  font-size: 30px;
  color: #444444;
  margin-bottom: 22px;
}
.service_content_info .body {
  text-align: justify;
  font-size: 18px;
  line-height: 2;
}
.service_content_info .button {
  margin-top: 50px;
}
.service_content_image img {
  width: 100%;
}
.main_button {
  border-radius: 5px;
  font-family: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.service_content_info button {
  background-color: #0099cc;
  padding: 17px 32px;
  color: #ffffff;
  overflow: hidden;
}
.service_content_info button:hover > span:first-child {
  opacity: 0;
  transform: translateY(-50%);
}
.service_content_info button:hover > span:last-child {
  top: 29%;
  opacity: 1;
}
.service_content_info button span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: inherit;
  gap: 10px;
}
.service_content_info button svg {
  font-size: 22px;
}
.service_content_info button > span:first-child {
  transition: all 0.3s ease;
}
.service_content_info button > span:last-child {
  position: absolute;
  top: 100%;
  transition: all 0.3s ease;
  opacity: 0;
}
.announce button::before,
.service_content_info button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -125%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  transform: skewX(-25deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transition: all 0.9s ease;
}
.announce button:hover:before,
.service_content_info button:hover:before {
  left: 125%;
}

/******** announce *********/
.announce .container {
  background-color: #0099cc;
  padding: 60px;
  color: #fff;
  position: relative;
  width: 91%;
  border-radius: 5px 0 0 5px;
}
.announce h1 {
  font-size: 42px;
  padding: 20px 0;
}
.announce h3 {
  color: #ccc;
  font-size: 20px;
  font-weight: 400;
}
.announce .container > div {
  top: 41%;
  position: absolute;
  left: -8%;
}
.announce .container .main_button {
  padding: 20px 60px;
  font-weight: bold;
  color: #444444;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 30px 0px rgba(235, 189, 19, 0.31);
}
.announce .container .main_button:hover {
  color: #ffffff;
  background-color: #ebbd13;
}
.announce .container .main_button > span:last-child {
  position: absolute;
  opacity: 0;
  bottom: -42%;
  left: 29.5%;
  transition: all 0.3s ease;
}
.announce .container .main_button:hover > span:last-child {
  bottom: 29%;
  left: 29.5%;
  opacity: 1;
}
.announce .container button:hover > span {
  display: inline-block;
  opacity: 1;
}
.announce .container button > span:first-child {
  transition: all 0.3s ease;
}
.announce .container button:hover > span:first-child {
  opacity: 0;
  transform: translateY(-50%);
}
.announce button::before {
  transition: all 0.5s ease;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  ) !important;
}

/********* slider *********/
.slider {
  margin: 100px 0 !important;
}

/********* move up icon *********/
.move_up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 3rem;
  height: 3rem;
  background-color: #0099cc;
  z-index: 999;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}
.move_up svg {
  color: #fff;
  font-size: 20px;
}
.move_up.active {
  display: flex;
  animation-name: showMoveUp;
  animation-duration: 0.5s;
}
@keyframes showMoveUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/****************************************************/
/* responsive */
@media only screen and (max-width: 1280px) {
  .main_title_1 h1 {
    font-size: 47px;
  }
  .main_title_1 .main_title_down h3 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1187px) {
  .main_title_1 h1 {
    font-size: 42px;
  }
  .main_title_1 .main_title_down h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1101px) {
  .announce .container > div {
    top: 53%;
    left: 9%;
  }
  .main_title_1 h1 {
    font-size: 40px;
  }
  .main_title_1 .main_title_down h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 972px) {
  .main_title_1 h1 {
    font-size: 37px;
  }
  .main_title_1 .main_title_down {
    padding: 10px 30px;
  }
  .main_title_1 .main_title_down h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 847px) {
  .main_title_1 {
    left: 16%;
  }
  .main_title_1 h1 {
    font-size: 30px;
    padding: 14px 45px;
  }
  .main_title_1 .main_title_down {
    padding: 10px 20px;
  }
  .main_title_1 .main_title_down h3 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    top: 0;
  }
  .service_content {
    flex-wrap: wrap;
  }
  .service_content_image,
  .service_content_info {
    max-width: 100%;
  }
  .service_content_info .title {
    text-align: center;
  }
  .main_title_1 h1 {
    font-size: 26px;
  }
  .main_title_1 .main_title_down h3 {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .main_title_1 {
    left: 10%;
  }
  .main_title_1 h1 {
    font-size: 24px;
    padding: 8px 22px;
  }
  .main_title_1 .main_title_down {
    padding: 10px 18px;
  }
  .main_title_1 h3:first-child {
    margin-bottom: 5px;
  }
}
